{% extends "base.html.twig" %}

{% block title %}
    {{ service.title }}
{% endblock %}

{% block main %}
    <main class = "oneServicePage">
        <article>
            <h3>Focus <br><span>"{{ service.title }}"</span></h3>
            <div class="vertical-line"></div>
            <p>{{ service.description }}</p>
            <div class="vertical-line"></div>
                <article class="gallery">

                    {% for picture in service.pictures %}
                    <img class="thumbnails" src="{{ picture.url }}" alt="{{ picture.alt }}">
                    {% endfor %}

                    <div class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="modal-image">
                    </div>

                </article>

        </article>
    </main>
{% endblock %}