{% extends "base.html.twig" %}

{% block title %}
    {{ realisation.title }}
{% endblock %}

{% block main %}
    <main id = "oneRealPage">
        <article>
            <h3>{{ realisation.title }}</h3>
            <div class="vertical-line"></div>
            <p>{{ realisation.description }}</p>
            <div class="vertical-line"></div>
            <article class="gallery">

                {% for picture in realisation.pictures %}
                    <img class="thumbnails" src="{{ picture.url }}" alt="{{ picture.alt }}">
                {% endfor %}

                <div class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="modal-image">
                </div>
            </article>

        </article>
    </main>
{% endblock %}

