{% extends "base.html.twig" %}

{% block title %}
    {{ realisation.title }}
{% endblock %}

{% block main %}
    <card>
        <h3>{{ realisation.title }}</h3>
        {% for picture in realisation.pictures %}
            <figure>
                <img src="{{ picture.url }}" alt="{{ picture.alt }}">
            </figure>
        {% endfor %}
        <p>{{ realisation.description }}</p>
    </card>
{% endblock %}