{% extends "base.html.twig" %}

{% block title %}
    Les réalisations {{ parent() }}
{% endblock %}

{% block main %}
    <main id="realPage">

    {% for realisation in realisations %}
        <section class ="realSection">
            <h2 class="visually-hidden">realisation</h2>
            <div class="sliderNBtn">
                <button class = "prevButtonReal">
                    <img src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
                </button>

                {% for picture in realisation.pictures %}
                    <img class = "realSliderImg " src="{{ picture.url }}" alt="{{ picture.alt }}">
                {% endfor %}

                <button class = "nextButtonReal" >
                    <img src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
                </button>
            </div>

            <div class="text-content">
                <h3 >{{ realisation.title }}</h3><br>
                <p class="realDescription dark-mode white-text">{{ realisation.description }}</p>
            </div>

        </section>
    {% endfor %}
    </main>
{% endblock %}