{% extends "base.html.twig" %}

{% block title %}
    Vos retours comptent !
    {{ parent() }}
{% endblock %}

{% block main %}
<main id="opinion" class="container py-5 px-3">
    {% if session['error-message'] is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ session['error-message'] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <section class="opinionsGallery">
        {% for opinion in opinions %}
            <article class="opinion">
                {% if opinion.notation == 1 %}
                    <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                {% elseif opinion.notation == 2 %}
                    <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                {% elseif opinion.notation == 3 %}
                    <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                {% elseif opinion.notation == 4 %}
                    <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                {% elseif opinion.notation == 5 %}
                    <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i></p>
                {% endif %}
                <p>{{ opinion.content }}</p>
                <p class = "opinionAuthor">Auteur : {{ opinion.username }}</p>
                {% if opinion.getRealisation() %}
                    <p class="opinionRealisation">
                        Avis en lien avec la réalisation suivante :<br>
                            <a href="index.php?route=realisation&id={{ opinion.getRealisation().getId()}}">
                                {{ opinion.getRealisation().getTitle() }}
                            </a><br>
                        (cliquez pour découvrir)
                    </p>
                {% endif %}</p>
            </article>
        {% endfor %}

    </section>

    <section class = "opinionFormSection>
        <h1 class="mb-5">Votre avis compte :</h1>
        <form class="opinionForm" action="index.php?route=opinionRegister" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />

            <label for="username">Pseudo</label>
            <input type="text" id="username" name="username" required>

            <label for="content">Rédigez votre avis</label>
            <textarea id="content" name="content" rows="4" required></textarea>

            <label for="notation">Note sur 5:</label>
            <select id="notation" name="notation" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <label for="realisation_id">Une réalisation est-elle ciblée par votre avis ? </label>
            <select name="realisation_id" id="realisation_id">
                <option value="">Non, aucune</option>
                {% for realisation in realisations %}
                    <option value="{{ realisation.id }}">{{ realisation.title }}</option>
                {% endfor %}
            </select>

            <button type="submit">Soumettre mon avis</button>
            {%  if  message is defined %}
                <p class="OpinionFormOKMessage">{{ message }}</p>
            {% endif %}
        </form>
    </section>
</main>
{% endblock %}