{% extends "base.html.twig" %}

{% block title %}
    Vos retours comptent !
    {{ parent() }}
{% endblock %}

{% block main %}
<main id="opinionPage">
    {% if session['error-message'] is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ session.error-message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="vertical-line"></div>

    <section class="opinionsGallery">
        <h2 class="visually-hidden">avis</h2>

        {% for opinion in opinions %}
            {% if opinion.status == "OK" %}
                <article class="opinion">
                    {% if opinion.notation == 1 %}
                        <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                    {% elseif opinion.notation == 2 %}
                        <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                    {% elseif opinion.notation == 3 %}
                        <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                    {% elseif opinion.notation == 4 %}
                        <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i></p>
                    {% elseif opinion.notation == 5 %}
                        <p><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i></p>
                    {% endif %}
                    <p class = "opinionContent dark-mode-white-text">{{ opinion.content }}</p>
                    <p class = "opinionAuthor">Avis laissé par :<br> {{ opinion.username }}</p>
                    {% if opinion.getRealisation() is defined and opinion.getRealisation() is not null %}
                        <p class="opinionRealisation">
                            Avis en lien avec la réalisation suivante :<br>
                                <a href="index.php?route=realisation&id={{ opinion.getRealisation().getId()}}">
                                    {{ opinion.getRealisation().getTitle() }}
                                </a><br>
                            (cliquez pour découvrir)
                        </p>
                    {% endif %}
                </article>
            {% endif %}
        {% endfor %}
    </section>
    <div class="vertical-line"></div>
    <section class = "opinionFormSection">
        <h2 class="visually-hidden">formulaire avis</h2>
        <form class="opinionForm" action="index.php?route=opinionRegister" method="post">
            <fieldset class="opinionForm">
                <legend class="dark-mode-white-text"> Votre avis compte </legend>
                <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />
                {%  if  message is defined %}
                    <p class="opinionFormOKMessage">{{ message }}</p>
                {% endif %}
                <label for="username" >Choisissez un pseudo * : </label>
                <input type="text" id="username" name="username" required="required">

                <label for="content">Rédigez votre avis (max 1024 caractères) * : </label>
                <textarea id="content" name="content" rows="4" required="required"></textarea>

                <label for="notation">Note sur 5 * :</label>
                <select class="notationOptions dark-mode white-text" id="notation" name="notation" required="required">
                    <option value="">Donnez une note sur 5</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <label for="realisation_id">Une réalisation est-elle ciblée par votre avis ? </label>
                <select class="realChoice dark-mode white-text" name="realisation_id" id="realisation_id">
                    <option value="">Sélectionnez une réalisation</option>
                    {% for realisation in realisations %}
                    <option value="realisation_{{ realisation.id }}">{{ realisation.title }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Soumettre mon avis</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}