{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}

<main id="contactPage">
    {% if session['error-message'] is defined %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errorMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}


        <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />
        {%  if  message is defined %}
            <p class="contactFormOKMessage">{{ message }}</p>
        {% endif %}

        <form class="contactForm" action="index.php?route=messageRegister" method="post">
            <input type="hidden" name="csrf-token" id="csrf-token" value="{{ sessionToken }}" />
            <legend>Comment pouvons-nous vous aider ?</legend>
            <div class="vertical-line"></div>
            <label for="firstname">Prénom * :</label>
            <input type="text" id="firstname" name="firstname" required="required">

            <label for="lastname">Nom * :</label>
            <input type="text" id="lastname" name="lastname" required="required">

            <label for="city">Ville * :</label>
            <input type="text" id="city" name="city" required="required">

            <label for="email">Email * :</label>
            <input type="email" id="email" name="email" required="required">

            <label for="content">Votre message (max 1024 caractères) * :</label>
            <textarea id="content" name="content" rows="4" required="required"></textarea>

            <button class="send-contactInfos" type="submit">Envoyer</button>
        </form>
</main>
{% endblock %}