{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}
{% block main %}


<main id="content" class="home">
    <section class="homeReal">
        <h2 class="visually-hidden">slider realisations</h2>
        <button class = "homePrevButtonReal" aria-label="Précédent">
            <img src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
        </button>
        {%  for realisation in realisations %}
            <figure class = "homeRealSlider">
                <a href="index.php?route=realisation&id={{ realisation.id }}"><img class = "homeSliderImg" src="{{ realisation.pictures[0].url }}" alt="{{ realisation.pictures[0].alt }}"></a>
                <figcaption class = "sliderLegend dark-mode-black">
                    <h2>Zoom sur quelques réalisations</h2>
                    <h3 class="dark-mode-white-text" >{{ realisation.title }}</h3>
                    <p><a href="index.php?route=realisation&id={{ realisation.id }}" class="dark-mode golden-text"">Cliquez ici pour en découvrir +</a></p>
                </figcaption>
            </figure>
        {% endfor %}
        <button class = "homeNextButtonReal" >
            <img src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
        </button>
    </section>

    <div class="vertical-line"></div>

    <section class="homeOpinion">
        <h2 class="visually-hidden">slider avis</h2>
            <button class = "prevButtonOpinion" aria-label="Suivant">
                <img  src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
            </button>

            {% for opinion in opinions %}
                {% if opinion.status == "OK" %}
                    <article class="opinionSlider">

                    <div class="opinionCSS">
                        {% if opinion.notation == 1 %}
                        <h2>
                            <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                        </h2>
                        {% elseif opinion.notation == 2 %}
                        <h2>
                            <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                        </h2>
                        {% elseif opinion.notation == 3 %}
                        <h2>
                            <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                        </h2>
                        {% elseif opinion.notation == 4 %}
                        <h2>
                            <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                        </h2>
                        {% elseif opinion.notation == 5 %}
                        <h2>
                            <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
                        </h2>
                        {% endif %}
                        <p class="content">{{ opinion.content }}</p>
                        <p class="opinionUsername">Merci à <strong><em>{{ opinion.username }}</em></strong> pour cet avis.</p>
                    </div>

                    </article>
                {% endif %}
            {% endfor %}

            <button class = "nextButtonOpinion">
                <img src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
            </button>
    </section>

    <div class="vertical-line"></div>

    <section class="homePresta">
        <h2 class="visually-hidden">prestations</h2>
        <article class="homePrestaQuestions">
            <h2 class="visually-hidden">questions prestations</h2>
            <p>Et si vous créiez <br>une salle d’eau <br>dans votre chambre <br>?</p>
            <p>Votre pièce de vie <br>manque de <br>convivialité <br>?</p>
            <p>Chez vous, <br>il fait trop froid l’hiver <br>et trop chaud l’été <br>?</p>
        </article>
        <nav class="homePrestaTitle">
            {% for service in services %}
                <a class="dark-mode-black" href="index.php?route=service&id={{ service.id }}">{{ service.title }}</a>
            {% endfor %}
        </nav>
    </section>

    <div class="vertical-line presta"></div>

    <article class = "homeMap">
        <h2>Rencontrons-nous</h2>
        <div id="map"></div>
    </article>
</main>
{% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script type="text/javascript" src="assets/js/leaflet.js"></script>
    {% endblock %}


