{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
<main id="content" class="home">
    <section class="homeReal">

        {%  for realisation in realisations %}
            <button>
                <img class = "flecheGauche" src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
            </button>
            <figure "realSlider">
                <img class = "sliderImg" src="{{ realisation.pictures[0].url }}" alt="{{ realisation.pictures[0].alt }}">
                <figcaption class = "sliderLegend">
                    <h2>{{ realisation.title }}</h2>
                    <p><a href="index.php?route=realisation&id={{ realisation.id }}">Cliquez ici pour en découvrir +</a></p>
                </figcaption>
            </figure>
            <button>
                <img class = "flecheDroite" src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
            </button>
        {% endfor %}

    </section>

    <div class="vertical-line"></div>

    <section class="homeOpinion">

        {% for opinion in opinions %}
            <button>
                <img class = "flecheGauche" src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
            </button>
            <card class="opinionSlider">
                {% if opinion.notation == 1 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                {% elseif opinion.notation == 2 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                {% elseif opinion.notation == 3 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                {% elseif opinion.notation == 4 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                {% elseif opinion.notation == 5 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
                    </h2>
                {% endif %}
                <p class="content">{{ opinion.content }}</p>
                <p class="opinionUsername">{{ opinion.username }}</p>
            </card>
            <button>
                <img class = "flecheDroite" src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
            </button>
        {% endfor %}
    </section>

    <div class="vertical-line"></div>

    <section class="homePresta">
        <article class="homePrestaQuestions">
            <p>Et si vous créiez une salle d’eau dans votre chambre ?</p>
            <p>Votre pièce de vie manque de convivialité ?</p>
            <p>Chez vous, il fait trop froid  l’hiver et trop chaud l’été ?</p>
        </article>
        <nav class="homePrestaTitle">
            {% for service in services %}
                <a href="index.php?route=services&id=service.id">{{ service.title }}</a>
            {% endfor %}
        </nav>
    </section>

    <div class="vertical-line"></div>

    <figure>
        <figcaption>Rencontrons-nous</figcaption>
        <img src="" alt="carte" />
    </figure>



{% endblock %}