{% extends "base.html.twig" %}

{% block title %}
    Accueil
    {{ parent() }}
{% endblock %}

{% block main %}
<main id="content" class="home">
    <section class="homeReal">
        <button class = "homePrevButtonReal">
            <img src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
        </button>
        {%  for realisation in realisations %}
            <figure class = "homeRealSlider">
                <a href="index.php?route=realisation&id={{ realisation.id }}"><img class = "homeSliderImg" src="{{ realisation.pictures[0].url }}" alt="{{ realisation.pictures[0].alt }}"></a>
                <figcaption class = "sliderLegend">
                    <h2>Zoom sur quelques réalisations</h2>
                    <h3>{{ realisation.title }}</h3>
                    <p><a href="index.php?route=realisation&id={{ realisation.id }}">Cliquez ici pour en découvrir +</a></p>
                </figcaption>
            </figure>
        {% endfor %}
        <button class = "homeNextButtonReal" >
            <img src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
        </button>
    </section>

    <div class="vertical-line"></div>

    <section class="homeOpinion">

            <button class = "prevButtonOpinion" >
                <img  src="assets/img/flecheSliderGauche.png" alt="flecheSliderGauche">
            </button>

            {% for opinion in opinions %}
            <article class="opinionSlider">
                <div class="opinionCSS">
                    {% if opinion.notation == 1 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                    {% elseif opinion.notation == 2 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                    {% elseif opinion.notation == 3 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                    {% elseif opinion.notation == 4 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp far fa-star" style="color: #FFD43B;"></i>
                    </h2>
                    {% elseif opinion.notation == 5 %}
                    <h2>
                        <i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i><i class="fa-sharp fa-solid fa-star" style="color: #FFD43B;"></i>
                    </h2>
                    {% endif %}
                <p class="content">{{ opinion.content }}</p>
                <p class="opinionUsername">Merci à <strong><em>{{ opinion.username }}</em></strong> pour cet avis.</p>
                </div>
            </article>
            {% endfor %}

            <button class = "nextButtonOpinion">
                <img src="assets/img/flecheSliderDroite.png" alt="flecheSliderDroite">
            </button>
    </section>

    <div class="vertical-line"></div>

    <section class="homePresta">
        <article class="homePrestaQuestions">
            <p>Et si vous créiez <br>une salle d’eau <br>dans votre chambre <br>?</p>
            <p>Votre pièce de vie <br>manque de <br>convivialité <br>?</p>
            <p>Chez vous, <br>il fait trop froid l’hiver <br>et trop chaud l’été <br>?</p>
        </article>
        <nav class="homePrestaTitle">
            {% for service in services %}
                <a href="index.php?route=service&id={{ service.id }}">{{ service.title }}</a>
            {% endfor %}
        </nav>
    </section>

    <div class="vertical-line presta"></div>

    <article class = "homeMap">
        <h2>Rencontrons-nous</h2>
        <div id="map"></div>
    </article>

{% endblock %}